.css1{
    
    color: red;
    font-weight: bold;
}
.spac
{
    word-spacing: 5px;
    letter-spacing: 5px;
}


.anc
{
    background-color: yellow;
    color: red;
    font-style: italic;
    font-weight: bold;
}